{% extends "base.html" %}

{% block title %}Notes{% endblock %}

{% block content %}

  <section class="text-center container">

    <div class="container bg-info mt-5 pt-1 rounded-4" style="box-shadow: 15px 15px 10px rgb(78, 77, 77);">
      <div class="content-section p-0 mt-5">
        <div class="m-3">
          <h2>{{ note.title }}</h2>
        </div>
        <br>
        <hr class="p-0 m-0">
        <p class="description m-5 p-5">
          {{ note.description }}
        </p>
        <hr>
      </div>
    </div>

  </section>
  <br>
  <div class="container">
    <div class="container">
      <a href="{% url 'students:notes' %}" class="btn btn-outline-info"> Back</a>
    </div>
  </div>



{% endblock %}
