{% extends "base.html" %}

{% block title %}Email Sent{% endblock %}

{% block content %}

  <div class="container mt-5 text-bg-info rounded-4" style="box-shadow: 15px 15px 10px rgb(78, 77, 77);">
    <div class="row">

      <div class="col-md-3"></div>

      <div class="col-md-6 mt-5 mb-5">
        <h1>Check your inbox.</h1>
        <br>
        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered.
          You should receive them shortly.</p>
        <p>
          If you don't receive an email, please make sure you've entered the address you registered with,
          and check your spam folder.
        </p>
      </div>
    </div>
  </div>

{% endblock %}
