{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Reset your password{% endblock %}

{% block content %}

  <div class="container mt-5 text-bg-info rounded-4" style="box-shadow: 15px 15px 10px rgb(78, 77, 77);">
    <div class="row">

      <div class="col-md-3"></div>

      <div class="col-md-6 mt-5 mb-5">

        <h1>Password Reset Confirm</h1>
        {% if validlink %}
          <p>Please enter your new password twice:</p>

          <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}<br>
            <button class="btn btn-secondary mb-5" type="submit">Reset password</button>
          </form>

        {% else %}
          <p>The password reset link was invalid, possibly because it has
            already been used. <br>Please request a new password reset.</p>
        {% endif %}

      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br>

{% endblock %}
