{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}

  <div class="container mt-5 text-bg-info rounded-4" style="box-shadow: 15px 15px 10px rgb(78, 77, 77);">
    <div class="row">

      <div class="col-md-3"></div>

      <div class="col-md-6 mt-3">

        <h1>Forgotten your password?</h1>
        <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

        <form method="POST">
          {% csrf_token %}
          {{ form|crispy }}<br>
          <button class="btn btn-secondary mb-5" type="submit">Send email</button>
        </form>

      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br>

{% endblock %}
